# Node modules
node_modules/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Temporary files
*.tmp
*.temp

# Multer upload directories (customize as per your setup)
uploads/
temp/

# IDE/Editor specific
.idea/
.vscode/
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db

# Build and dist folders (if applicable)
dist/
build/

# Coverage reports
coverage/

# Debugger output
*.pid
*.seed
*.pid.lock

# Dependency directories
jspm_packages/
bower_components/

# Miscellaneous
!.gitkeep
